# No non-SSL access
<IfModule !mod_ssl.c>
  RedirectMatch /(.*)$ https://www.cse.unsw.edu.au/$1
</IfModule>

<IfModule mod_ssl.c>
   AuthName "COMP2521 Staff only"
   AuthType basic
   AuthYP on

   require group @COMP2521_Teacher
</IfModule>
